:local(.Input) {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

:local(.Label) {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

:local(.InputElement) {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

:local(.InputElement):focus {
    outline: none;
    background-color: #ccc;
}

:local(.Invalid) {
    border: 1px solid red;
    background-color: #FDA49A;
}